/*http://paletton.com/#uid=13v0u0kaOO91S+h6eVJfgDQjtux*/
/*https://benfrain.com/the-ios-safari-menu-bar-is-hostile-to-web-apps-discuss/*/
/*https://stackoverflow.com/questions/29894997/prevent-ios-bounce-without-disabling-scroll-ability*/
/*https://css-tricks.com/svg-use-with-external-reference-take-2/*/
/*http://www.heropatterns.com/*/
/*https://icomoon.io/app/#/select*/
/*https://www.w3schools.com/html/html5_semantic_elements.asp*/
:root {
  --color-background: #95BFDA;
  --color-scroll-btn: gray;
}

html {
  /*height: 100%;*/
  overflow: hidden;
}
body {
  font-size: 62.5%;
  letter-spacing: 2px;
  /*background: var(--color-background);*/

  background: vaxr(--color-background);
  /*background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");*/


  /*background-color: #fefdff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23fbdebc' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");*/

  color: black;
  font-family: sans-serif;
  height: 100%;
  /*overflow-y: scroll;*/
}

* {
  text-decoration: none;
  /*border: 1px solid black;*/
  /*color: green;*/
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
