nav {
  font-size: 1.6em;
  z-index: 200;
  position: fixed;
  bottom: 0;
  background: white;
  border: solid lightgray;
  border-width: 2px 0 0 0;
  width: 100%;
}
      .navbar-items {
        padding: 0 .5em 0 .5em;
        margin: .2em;
        display: flex;
        list-style: none;
        font-size: 1em;
        justify-content: space-around;
      }

     .navbar-items li {
        align-self: center;
      }

      .navbar-items > li img {
        width: 1.9em;
        height: 1.9em;
        padding: .2em;
      }

      .navbar-items .circle-btn {
        border-radius: 100%;
        border: 1px solid black;
        margin: .1em;
        padding: .3em;
      }

nav input {
  width: 100%;
  height: 30px;
  font-size: 1em;
  border: 1px solid black;
  border-radius: .5em;
}

.navbar-items button {
  border: 1px solid black;
  border-radius: 15%;
  padding: .3em .5em .3em .5em;
  width: 3em;
  font-size: 1em;
  margin-left: .2em;
  margin-right: .2em;
}

.navbar-items.search li:nth-child(2) {
  width: 80%;
}
